{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form | crispy }}

        <div class="d-flex justify-content-center mt-3 mb-2">
            <button type="submit" class="btn btn-primary btn-block mr-2">Login</button>
        </div>

        <div class="d-flex justify-content-center mt-3 mb-2">
            <p>Don't have an account? <a href="{% url 'register' %}">Register here</a>.</p>
        </div>
    </form>

    <div class="mt-4 d-flex justify-content-center">
        <div class="text-center">
            <h6>For Github</h6>
            <p>If you want to run the project as admin.</p>
            <p>You can use the following credentials:</p>
            <p>Username: <strong>admin</strong></p>
            <p>Password: <strong>123</strong></p>
        </div>
    </div>
    

        
        
{% endblock %}
