{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Update Event{% endblock %}

{% block content %}
    <h1>Update Event</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        
        <!-- Button container with opposite alignment -->
        <div class="d-flex justify-content-between mt-3 mb-2">
            <button type="submit" class="btn btn-primary">Update Event</button>
            <a href="{% url 'homepage' %}" class="btn btn-secondary">Back to Events List</a>
        </div>
    </form>
{% endblock %}
